@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translate(-350px, 0px);
            transform: translate(-350px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }
@keyframes slide-in-right {
  0% {
    -webkit-transform: translate(-350px, 0px);
            transform: translate(-350px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translate(600px, 0px);
            transform: translate(600px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translate(600px, 0px);
            transform: translate(600px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes fade-in {
  from {
    margin-top: -9px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }

@keyframes fade-in {
  from {
    margin-top: -9px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }

html {
  margin: 0;
  font-family: "Montserrat", "sans-serif"; }

body {
  margin: 0;
  color: #262626;
  background-color: #F6F6F6; }

h1, h2, h3, h4 {
  margin: 18px 18px;
  font-family: "Raleway", "sans-serif";
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }

a {
  text-decoration: none;
  color: #262626; }

a,
select:hover,
button {
  cursor: pointer;
  border: none; }

a, span, figcaption, button, input, option, ::-webkit-input-placeholder {
  font-family: "Montserrat", "sans-serif"; }

a, span, figcaption, button, input, option, :-ms-input-placeholder {
  font-family: "Montserrat", "sans-serif"; }

a, span, figcaption, button, input, option, ::-ms-input-placeholder {
  font-family: "Montserrat", "sans-serif"; }

a, span, figcaption, button, input, option, ::placeholder {
  font-family: "Montserrat", "sans-serif"; }

ul {
  list-style: none; }

img {
  max-width: 100%; }
  img::-moz-selection {
    background: none; }
  img::selection {
    background: none; }

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: none; }

span {
  display: inline-block; }

html {
  z-index: -1; }

body {
  z-index: 0; }

header {
  z-index: 2; }

section {
  z-index: 1; }

footer {
  z-index: 2; }

@media print {
  body {
    padding: 0; }
  img {
    display: none; }
  header,
  nav,
  footer {
    display: none; } }

::-moz-selection {
  background-color: #b2415e;
  color: white; }

::selection {
  background-color: #b2415e;
  color: white; }

:focus {
  padding: 9px; }

h1 {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  padding: 0 18px; }
  @media (min-width: 375px) {
    h1 {
      font-size: 1.8rem; } }
  @media (min-width: 411px) {
    h1 {
      font-size: 2.1rem; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.75rem; } }
  @media (min-width: 900px) {
    h1 {
      font-size: 3.2rem; } }
  @media (min-width: 1150px) {
    h1 {
      font-size: 3.8rem; } }

h2 {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center; }
  @media (min-width: 375px) {
    h2 {
      font-size: 1.5rem; } }
  @media (min-width: 411px) {
    h2 {
      font-size: 1.8rem; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 2rem; } }
  @media (min-width: 900px) {
    h2 {
      font-size: 2.5rem; } }
  @media (min-width: 1150px) {
    h2 {
      font-size: 3.1rem; } }

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center; }
  @media (min-width: 375px) {
    h3 {
      font-size: 1.25rem; } }
  @media (min-width: 411px) {
    h3 {
      font-size: 1.5rem; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.75rem; } }
  @media (min-width: 900px) {
    h3 {
      font-size: 2rem; } }
  @media (min-width: 1150px) {
    h3 {
      font-size: 2.2rem; } }

h4 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center; }
  @media (min-width: 375px) {
    h4 {
      font-size: 1.1rem; } }
  @media (min-width: 411px) {
    h4 {
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.35rem; } }
  @media (min-width: 900px) {
    h4 {
      font-size: 1.5rem; } }
  @media (min-width: 1150px) {
    h4 {
      font-size: 1.7rem; } }

a {
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease;
  font-weight: 500; }
  a:hover {
    color: #9C3952; }
  a:focus {
    outline: none;
    color: #9C3952; }

p {
  font-family: "Montserrat", "sans-serif";
  font-weight: 300; }

strong {
  font-weight: 500; }

@media (min-width: 900px) {
  figure {
    display: inline-block;
    margin: 0; } }

@media (min-width: 900px) {
  .mobile {
    display: none; } }

.scrollbar {
  overflow-y: scroll; }
  .scrollbar::-webkit-scrollbar {
    width: 9px; }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(23, 23, 23, 0.95); }

.mobile-hide {
  display: none; }
  @media (min-width: 1150px) {
    .mobile-hide {
      display: inline-block; } }

.top-bar {
  background: rgba(145, 53, 76, 0.9);
  height: 9px;
  top: -6px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: rgba(246, 246, 246, 0.99);
  top: 3px;
  position: -webkit-sticky;
  position: sticky;
  padding: 12px 21px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }
  @media (min-width: 900px) {
    header {
      padding: 0 21px; } }
  header::before {
    background-color: #9C3952;
    width: 100%;
    height: 500px;
    z-index: 7; }

.logo-container {
  height: 4em; }

img.logo {
  height: 4em;
  position: absolute;
  clip: rect(0, 4.1em, 4em, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  img.logo.animate {
    -webkit-animation: slide-in-right 0.9s ease;
            animation: slide-in-right 0.9s ease; }
  @media (min-width: 900px) {
    img.logo {
      clip: rect(0, 23.7em, 4em, 0); } }

img.hamburger-menu {
  width: 5em;
  cursor: pointer;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  img.hamburger-menu.animate {
    -webkit-animation: slide-in-left 0.9s ease;
            animation: slide-in-left 0.9s ease; }
  @media (min-width: 900px) {
    img.hamburger-menu {
      margin-right: -55px;
      display: none; } }

nav .reveal {
  top: -500px;
  padding: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  @media (min-width: 900px) {
    nav .reveal {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex; } }
  nav .reveal .active-nav-link {
    background-color: rgba(145, 53, 76, 0.9);
    color: #F6F6F6;
    font-weight: 400; }

nav ul {
  position: absolute;
  top: 4.5em;
  left: 0;
  background: rgba(23, 23, 23, 0.95);
  padding: 0;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation: slide-in-left 1s ease;
          animation: slide-in-left 1s ease; }
  @media (min-width: 900px) {
    nav ul {
      background: none;
      position: initial; } }

nav li {
  text-align: center; }
  nav li:hover {
    background: rgba(145, 53, 76, 0.9); }
    @media (min-width: 900px) {
      nav li:hover {
        background: #2e2e2e; } }
  nav li :focus {
    background: rgba(145, 53, 76, 0.9);
    padding: 18px;
    outline: none; }

nav a {
  display: block;
  margin: 0;
  padding: 18px 24px;
  font-size: 1.55em;
  font-weight: 500;
  color: #F6F6F6; }
  nav a.nav-li-zh {
    font-size: 1.4em;
    font-weight: 500; }
  nav a:hover, nav a:focus {
    background-color: rgba(145, 53, 76, 0.9);
    color: #F6F6F6;
    padding: 18px 18px; }
    @media (min-width: 900px) {
      nav a:hover, nav a:focus {
        background-color: #262626;
        border: none;
        padding: 18px 45px; } }
  @media (min-width: 900px) {
    nav a {
      color: #262626;
      padding: 12px 21px; }
      nav a:hover, nav a:focus {
        padding: 12px 21px; } }
  nav a:focus {
    border: 1.5px solid #3B102B; }

header:after {
  content: "";
  display: block;
  top: 5.35em;
  left: 0;
  position: absolute;
  height: 9px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#171717), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, #171717, rgba(0, 0, 0, 0));
  background: linear-gradient(to bottom, #171717, rgba(0, 0, 0, 0));
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }

main {
  background-color: #e7e7e7;
  min-height: 65vh;
  -webkit-animation: fade-in 0.9s ease;
          animation: fade-in 0.9s ease; }

.main-container {
  padding: 15px 0 0; }

section.backgound-white {
  background: #F6F6F6; }

.section-container {
  padding: 21px 24px;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  @media (min-width: 1150px) {
    .section-container {
      padding: 21px 45px; } }

footer {
  background-color: #F6F6F6;
  text-align: center;
  padding: 21px 0; }
  footer p {
    margin: 0; }
  @media (min-width: 900px) {
    footer {
      padding-bottom: 33px; } }

.footer-info {
  margin: 0 auto;
  padding: 0 33px;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  .footer-info p {
    font-weight: 500; }
  @media (min-width: 411px) {
    .footer-info {
      font-size: 1.15rem; } }
  @media (min-width: 900px) {
    .footer-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      font-size: 1.25rem; } }

.footer-nav a {
  font-weight: 500;
  display: inline-block;
  padding: 9px 6px 0;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  .footer-nav a:hover {
    color: #b2415e; }
  .footer-nav a:focus {
    color: #b2415e;
    outline: none; }
  @media (min-width: 900px) {
    .footer-nav a {
      font-size: 1.25rem;
      padding: 0 12px; } }

a.mobile {
  text-transform: uppercase;
  font-weight: 200; }
  @media (min-width: 411px) {
    a.mobile {
      font-size: 1.15rem; } }

.icons-social-media a {
  display: inline-block;
  width: 2em;
  padding: 6px 3px;
  margin: 6px 0;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  @media (min-width: 375px) {
    .icons-social-media a {
      font-size: 1.15em; } }
  @media (min-width: 768px) {
    .icons-social-media a {
      font-size: 1.5em; } }
  @media (min-width: 900px) {
    .icons-social-media a {
      margin: 15px 0 0;
      width: 2em; } }
  .icons-social-media a:focus {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    outline: none; }

.icons-social-media :hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02); }

.loader-container {
  background-color: #F6F6F6;
  position: absolute;
  height: calc(100% - 113px);
  width: 100%;
  z-index: -6; }

.loader {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1;
  width: 125px;
  height: 125px;
  margin: -75px 0 0 -75px;
  border: 1em solid #262626;
  outline: 9px #863146;
  border-radius: 100%;
  border-top: 1em solid #9C3952;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; }
  @media (min-width: 900px) {
    .loader {
      width: 125px;
      height: 125px;
      border: 1.5em solid #262626;
      border-top: 1.5em solid #9C3952; } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.action-section {
  margin: 45px 0;
  text-align: center; }

.contact-button {
  margin: 15px 0; }

.button-contact {
  display: inline-block;
  margin: 3px 0;
  background-color: #262626;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  .button-contact .contact-info a {
    display: inline-block;
    padding: 15px 33px;
    color: #F6F6F6;
    font-weight: 500; }
    .button-contact .contact-info a span {
      font-weight: 500; }
    .button-contact .contact-info a:hover, .button-contact .contact-info a:focus {
      cursor: pointer;
      background-color: rgba(145, 53, 76, 0.9); }

.portfolio figcaption {
  padding: 24px 12px; }

.portfolio figure figcaption {
  background-color: rgba(145, 53, 76, 0.9);
  text-align: center;
  font-weight: 500;
  color: #F6F6F6; }

form {
  width: 75%;
  margin: 0 auto;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  @media (min-width: 900px) {
    form {
      width: 75%; } }
  @media (min-width: 1150px) {
    form {
      width: 70%; } }

.form-field {
  margin: 6px 0; }

label {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 auto; }
  label span {
    font-weight: 200;
    font-size: 15px; }

input,
textarea {
  background-color: #F6F6F6;
  border: 1.5px #dfdfdf solid;
  padding: 9px 12px;
  margin: 10px auto;
  font-size: 1.05em;
  width: 100%;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  input:focus,
  textarea:focus {
    border: #262626 1.5px solid;
    outline: none;
    padding: 9px 12px;
    margin: 9px auto;
    opacity: 1; }
    input:focus::-moz-selection,
    textarea:focus::-moz-selection {
      background-color: #b2415e;
      color: #F6F6F6; }
    input:focus::selection,
    textarea:focus::selection {
      background-color: #b2415e;
      color: #F6F6F6; }

.hpot {
  display: none; }

input {
  display: inline-block; }

textarea {
  height: 2.5em; }
  textarea:focus {
    height: 5em; }

select {
  background-color: #F6F6F6;
  margin: 19px 0; }
  @media (min-width: 768px) {
    select {
      display: block; } }

button {
  display: block;
  background-color: rgba(145, 53, 76, 0.9);
  margin: 18px auto;
  padding: .6em 1.5em;
  font-weight: 500;
  color: #F6F6F6;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease;
  font-size: 1.4em; }
  button:hover {
    background-color: #863146; }
  button:focus {
    padding: .7em 1.6em;
    background-color: #91354c;
    outline: none; }
  button:active {
    background-color: #262626; }
  @media (min-width: 900px) {
    button {
      font-size: 1.5em; } }

a.button {
  margin: 18px 0;
  background-color: rgba(145, 53, 76, 0.9);
  margin: 18px auto;
  padding: .6em 1.5em;
  font-weight: 500;
  color: #F6F6F6;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease;
  font-size: 1.4em; }
  a.button:hover {
    background-color: #863146; }
  a.button:focus {
    padding: .7em 1.6em;
    background-color: #91354c;
    outline: none; }
  a.button:active {
    background-color: #262626; }
  @media (min-width: 900px) {
    a.button {
      font-size: 1.5em; } }

.box {
  display: block;
  background-color: #353535;
  border-radius: 0 0 9px 9px;
  vertical-align: top;
  margin: 2em auto;
  padding-bottom: 12px;
  width: 100%;
  vertical-align: top; }
  .box.no-padding {
    width: 282px;
    padding: 0;
    background-color: black; }
    @media (min-width: 900px) {
      .box.no-padding {
        height: 371px; } }
  .box:focus {
    border: 6px #9C3952 solid;
    outline: none;
    padding: 0;
    -webkit-transform-origin: 50%;
            transform-origin: 50%; }
  @media (min-width: 900px) {
    .box {
      display: inline-block;
      min-width: 25em;
      width: 50%;
      margin: 12px;
      -webkit-transition: all 0.09s ease;
      transition: all 0.09s ease; }
      .box.hover {
        opacity: .9; }
        .box.hover:hover {
          opacity: 1; } }
    @media (min-width: 900px) and (min-width: 1150px) {
      .box.hover {
        min-width: 30em; } }
  .box img {
    padding: 0;
    width: 13em; }
    .box img.profile-pic {
      width: 100%; }
    .box img.logo-client {
      padding: 18px 0; }
  .box h3 {
    text-transform: capitalize;
    color: #F6F6F6;
    font-size: 1.4em;
    font-weight: 600; }
  .box li {
    color: #F6F6F6;
    font-size: 1em;
    font-weight: 300;
    text-align: center; }
    @media (min-width: 411px) {
      .box li {
        font-size: 1.25em; } }
    @media (min-width: 900px) {
      .box li {
        font-size: 1.4em; } }
  .box p, .box a {
    margin: 0 13px 9px 19px;
    color: #F6F6F6;
    text-align: left; }
  .box figcaption {
    font-size: 1.2em;
    -webkit-transition: all 0.09s ease;
    transition: all 0.09s ease; }
    @media (min-width: 900px) {
      .box figcaption {
        font-size: 1.3em; } }
    @media (min-width: 1150px) {
      .box figcaption {
        font-size: 1.6em; } }

.blackbox {
  background-color: #262626;
  margin: 0 0;
  padding: 12px 12px;
  color: #F6F6F6;
  font-size: 2em; }
  @media (min-width: 768px) {
    .blackbox {
      font-size: 3em; } }
  @media (min-width: 900px) {
    .blackbox {
      display: none; } }

.redbox {
  background-color: rgba(145, 53, 76, 0.9);
  margin: 6px 0;
  padding: 12px 12px;
  color: #F6F6F6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .redbox::-moz-selection, .redbox span::-moz-selection {
    background-color: #262626; }
  .redbox::selection, .redbox span::selection {
    background-color: #262626; }
  @media (min-width: 900px) {
    .redbox {
      padding: 24px 12px; } }
  @media (min-width: 1150px) {
    .redbox {
      padding: 24px 18px; } }

.headerbox-red {
  padding: 18px;
  background-color: rgba(188, 71, 101, 0.7);
  margin: 0 0 18px 0;
  color: #F6F6F6; }
  .headerbox-red::-moz-selection {
    background-color: #262626; }
  .headerbox-red::selection {
    background-color: #262626; }

.label-container {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }

.label-container .label {
  display: none;
  position: relative;
  top: 100%;
  color: #262626;
  font-size: .9em;
  font-weight: 100;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin: -5px 0; }

@media (min-width: 900px) {
  .label-container:hover .label {
    display: block; } }

p.accordian {
  text-align: center;
  font-size: 5em;
  cursor: pointer;
  height: .5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.panel {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.display {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }

.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: 115px 7.5%;
  padding: 12px 33px 33px;
  border: 3px solid #3B102B;
  width: 70%;
  height: 42%;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  .modal-content p {
    text-align: left; }
  @media (min-width: 375px) {
    .modal-content {
      height: 51%;
      width: 69%;
      margin: 120px 7.5%; } }
  @media (min-width: 900px) {
    .modal-content {
      width: 71%;
      height: 60%;
      margin: 130px 12%; } }

.close {
  display: inline-block;
  position: relative;
  top: 110px;
  margin: 0 auto;
  color: #F6F6F6;
  background-color: rgba(145, 53, 76, 0.9);
  border: 2px solid #3B102B;
  border-radius: 100%;
  padding: 0px 16px;
  font-size: 3em;
  font-weight: bold;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease;
  z-index: 5; }
  .close:hover, .close:focus {
    color: #F6F6F6;
    background-color: #9C3952;
    cursor: pointer; }
  @media (min-width: 900px) {
    .close {
      font-size: 3.5em;
      padding: 0px 17.5px; } }

h2.index {
  margin: -15px auto 9px;
  max-width: 540px;
  font-size: .9em;
  font-weight: 300; }
  @media (min-width: 570px) {
    h2.index {
      font-size: 1em; } }
  @media (min-width: 768px) {
    h2.index {
      margin-top: 0;
      font-size: 1.1em; } }

img.box-port {
  width: 19em; }

img.profile {
  display: block;
  margin: 9px auto;
  width: 8em;
  border-radius: 100%;
  border: rgba(145, 53, 76, 0.9) 2px solid;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.09s ease;
  transition: all 0.09s ease; }
  @media (min-width: 900px) {
    img.profile {
      float: left;
      margin: 6px 33px;
      text-align: justify; } }

article.bio-pic {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle; }

p.bio {
  text-align: center; }
  @media (min-width: 900px) {
    p.bio {
      max-width: 920px;
      text-align: left; } }

#name {
  text-transform: capitalize; }

#email {
  text-transform: lowercase; }

#company {
  text-transform: capitalize; }

section {
  text-align: center; }

#error-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  text-align: center; }
  #error-wrapper h1 {
    padding: 24px; }
    @media (min-width: 900px) {
      #error-wrapper h1 {
        padding: 24px 45px; } }
  #error-wrapper p {
    margin: 6px; }
  #error-wrapper a {
    font-weight: 500; }
/*# sourceMappingURL=style.css.map */