/// Z-INDEX  POSITION STACKING ///

html
  {z-index: -1;}
body
  {z-index: 0;}
header
  {z-index: 2;}
section
  {z-index: 1;}
footer
  {z-index: 2;}

/// PRINT ///

@media print {
  body {
    padding: 0;
  }
  img {
    display: none;
  }
  header,
  nav,
  footer {
    display: none;
  }
}
