/// GENERALS ///

::selection {
  background-color: $wine-light;
  color: white;
}

:focus {
  padding: 9px;
}

/// ELEMENTS ///

h1 {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  padding: $amount-none $amount-large;
  @include breakpoint($breakpoint-devices-medium-cell) {
    font-size: 1.8rem;
  }
  @include breakpoint($breakpoint-devices-large-cell) {
    font-size: 2.1rem;
  }
  @include breakpoint($breakpoint-devices-tablet) {
    font-size: 2.75rem;
  }
  @include breakpoint() {
    font-size: 3.2rem;
  }
  @include breakpoint($breakpoint-devices-desktop) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  @include breakpoint($breakpoint-devices-medium-cell) {
    font-size: 1.3rem;
  }
  @include breakpoint($breakpoint-devices-large-cell) {
    font-size: 1.6rem;
  }
  @include breakpoint($breakpoint-devices-tablet) {
    font-size: 2rem;
  }
  @include breakpoint() {
    font-size: 2.5rem;
  }
  @include breakpoint($breakpoint-devices-desktop) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  @include breakpoint($breakpoint-devices-medium-cell) {
    font-size: 1.25rem;
  }
  @include breakpoint($breakpoint-devices-large-cell) {
    font-size: 1.5rem;
  }
  @include breakpoint($breakpoint-devices-tablet) {
    font-size: 1.75rem;
  }
  @include breakpoint() {
    font-size: 2rem;
  }
  @include breakpoint($breakpoint-devices-desktop) {
    font-size: 2.1rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  @include breakpoint($breakpoint-devices-medium-cell) {
    font-size: 1.1rem;
  }
  @include breakpoint($breakpoint-devices-large-cell) {
    font-size: 1.2rem;
  }
  @include breakpoint($breakpoint-devices-tablet) {
    font-size: 1.35rem;
  }
  @include breakpoint() {
    font-size: 1.5rem;
  }
  @include breakpoint($breakpoint-devices-desktop) {
    font-size: 1.6rem;
  }
}


a {
  transition: transition();
  font-weight: 500;
  &:hover {
    color: $wine;
  }
  &:focus {
    outline: none;
    color: $wine;
  }
}

p {
  font-family: $font-primary;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

/// IMAGES ///

figure {
  @include breakpoint() {
    display: inline-block;
    margin: $amount-none;
  }
}

/// REOCCURRING CLASSES ///

@include breakpoint() {
  .mobile {
    display: none;
  }
}

.scrollbar {
	overflow-y: scroll;
  &::-webkit-scrollbar {
  	width: $amount-average;
  }
  &::-webkit-scrollbar-thumb {
  	background-color: $charcoal-opaq;
  }
}

.mobile-hide {
  display: none;
  @include breakpoint($breakpoint-devices-desktop) {
    display: inline-block;
  }
}
