extends ../layout

block title
  title About Sychael Development

block description
  meta(name="description" content="Information about Website Construction.")
    
block main
  section
    h1.redbox About Sychael
    .hero
      img.profile(src="../../../../Senior Pic.jpg" alt="")
      p.bio I'm Michael Lawinger, the designer and developer of Website Construction. My desire is through my love for God and Web Development, to create Personally Professional Websites that communicate the purpose of your work. I love Web because it's a perfect balance between creativity and logic! My goal as a Web Designer & Developer is to create an easily functional, clean design by focusing the content of the website on your essentials needs.
  h2.sub-heading Personally Professional Websites
  .box-wrap
    .box.personal
      h3 Personal
      p Every website is designed by people. I strive to be personal and pleasant to work with. My love for God fuels my desire to connect with people and my passion for web drives me to build sites that are representative the message you want to share thorugh your site!
    .box.professional
      h3 Professional
      p Websites are so essential to finding out inforamtion and reaching people with it. As my profession, I profess to use current methods to deliver professional websites that meet needs, while not compromising quality.
  h2 Principles of Design
  .box-wrap
    .box.sub
      h3.principles ★ |  Essential Content
        ul
          li Refined Conent
          li Consise Wording
          li Relevant Media
    .box.sub
      h3.white.principles ☀︎ |  Clean Design
        ul
          li Pleasingly Aesthestic
          li Modern Design
          li Personalized Theme
    .box.sub
      h3.white.principles ➥ | Simple Functionality
        ul
          li Intuitive Interactions
          li Simple Usability
          li Friendly Accessiblity
