extends ../layout

block title
  title About Sychael

block description
  meta(name="description" content="Michael Lawinger, a Freelance Web Designer &amp; Developer, passionate about God and creating functional, clean, concise websites, which represent your identity.")
    
block main
  section.section-container.principal.page
    h1.redbox About Sychael
    article.bio-pic
      img.profile(src="img/photos/team/team-michael.jpg" alt="Photo of the Developer Michael Lawinger")
      p.bio I'm Michael Lawinger, the designer and developer of Sychael. Sychael is the personalized name of my wife Sylvia &amp; I combined. My desire is through my love for God and Web Development, to create Personally Professional Websites that communicate the purpose of your work. I love Web because it's a perfect balance between creativity and logic! My goal as a Web Designer &amp; Developer is to create an easily functional, clean designs by focusing the content of the website on your essentials needs.
  section.section-container.backgound-white
      h2 Personally Professional Websites
      .box
        h3.headerbox-red Personal
        p Every website is designed by people. I strive to be personal and pleasant to work with. My love for God fuels my desire to connect with people and my passion for web drives me to build sites that represent your identity and message!
      .box
        h3.headerbox-red Professional
        p Websites are essential to finding out inforamtion and reaching people with it. As my profession, I commit to delivering professional websites that meet needs, while not compromising quality.
  section.section-container
    h2 Principles of Design
    .box-container
      .box
        h3.headerbox-red ★&nbsp;&nbsp;&nbsp; Essential Content
        ul
          li Refined Conent
          li Consise Wording
          li Relevant Media
      .box
        h3.headerbox-red ☀︎&nbsp;&nbsp;&nbsp; Clean Design
        ul
          li Pleasingly Aesthestic
          li Modern Design
          li Personalized Theme
      .box
        h3.headerbox-red ➥&nbsp;&nbsp;&nbsp; Simple Functionality
        ul
          li Intuitive Interactions
          li Simple Usability
          li Friendly Accessiblity
      include ../components/action
