extends ../layout

block title
  title Hire

block description
  meta(name="description" content="Website Construction constructs personally professional websites at affordable costs. Have me help build your next website.")

block main
  h1 Build a Sychael Site
  p * Your information is for further contact and project usage.

  form(method="post" action="mailto:michael@webconstruction.org")

    legend
    label(for="name" required="required") Full Name
    input(type="text" id="name" name="name")

    label(for="email" required) Email Address
    input(type="email" id="email" name="email")

    label(for="phone" required) Phone Number
    input(type="tel" id="phone" name="phone")

    legend

    label(for="company") Company Name
    input(type="text" id="company" name="company")

    label(for="budget") Project Budget
    input(type="range" name="budget" id="budget" min="0" max="100")

    label(for="month_start" id="select-date") Projected Due Date
      label(for="month_start") Month
        select(id="month_start" name="month_start")
          option(value="january") January
          option(value="february") February
          option(value="march") March
          option(value="april") April
          option(value="may") May
          option(value="june") June
          option(value="july") July
          option(value="august") August
          option(value="september") September
          option(value="october") October
          option(value="november") November
          option(value="december") December
      label(for="day_start") Day
        select(id="day_start" name="day_start")
          option(value="d1") 1
          option(value="d2") 2
          option(value="d3") 3
          option(value="d4") 4
          option(value="d5") 5
          option(value="d6") 6
          option(value="d7") 7
          option(value="d8") 8
          option(value="d9") 9
          option(value="d10") 10
          option(value="d11") 11
          option(value="d12") 12
          option(value="d13") 13
          option(value="d14") 14
          option(value="d15") 15
          option(value="d16") 16
          option(value="d17") 17
          option(value="d18") 18
          option(value="d19") 19
          option(value="d20") 20
          option(value="d21") 21
          option(value="d22") 22
          option(value="d23") 23
          option(value="d24") 24
          option(value="d25") 25
          option(value="d26") 26
          option(value="d27") 27
          option(value="d28") 28
          option(value="d29") 29
          option(value="d30") 30
          option(value="d31") 31
      label(for="year_start") Year
        select(id="year_start" name="year_start")
          option(value="y2017") 2017
          option(value="y2018") 2018

    legend Choose Additional Features
      .checkbox
        input(type="checkbox" name="feature" id="feature-logo" value="Create Logo")
        label(for="feature-logo") Create Logo
      .checkbox
        input(type="checkbox" name="features" id="feature-video" value="Promo Video")
        label(for="feature-video") Promo Video
      .checkbox
        input(type="checkbox" name="features" id="feature-social" value="Social Media Setup")
        label(for="feature-social") Social Media Setup

    label(for="details") Details About the Project
    textarea(id="details" name="details" placeholder="Describe the Project")

    button(type="submit") Submit
