extends ../layout

block title
  title Sychael Web Development
block description
  meta(name="description" content="Delivering Personally Professional Websites and Communicating Your Message On the Web Affordably.")

block main
  section.section-container.principal.hero(role="complementary")
    h2.mobile.blackbox Sychael Web Design
    h1.redbox Personally Professional
      span.mobile-hide Websites
    h2 Communicating Your Personal&nbsp;Vision
      br
      | Professionally &amp; Affordably
    p
      strong I Build Functional, Clean, Essential Websites, So You Can Share Your Vision Effectively on The Web.
    include ../components/action
  section.section-container.backgound-white(role="complementary")
    h2 Meet the Developer
    .box-wrap
      figure
        a.box.no-padding(href="about.html")
          figcaption.headerbox-red Michael Lawinger
          img.box-img.profile-pic(src="img/photos/profile-michael.jpeg" alt="The Builder of Sychael")
  section.section-container.portfolio
    h2 View Sychael Sites
    h3 Explore Websites Built By Sychael
    figure
      a.box.hover(href="http://www.advantageroofcleaning.com" target="_blank")
        figcaption Advantage Roof Cleaning
        img.logo-client(src="img/logo/sites/advantage.svg" alt="Advantage Roof Cleaning Website Link")
    figure
      a.box.hover(href="https://www.theleadonemovement.com" target="_blank")
        figcaption Lead One Movement
        img.logo-client(src="img/logo/sites/leadone.svg" alt="Lead One Movement Website Link")
    figure
      a.box.hover(href="https://www.dominicanadvance.org" target="_blank")
        figcaption Dominican Advance
        img.logo-client(src="img/logo/sites/dalogo.svg" alt="Dominican Advance Website Link")
    figure
      a.box.hover(href="https://www.supportpiclife.org" target="_blank")
        figcaption Pregnancy Info Center
        img.logo-client(src="img/logo/sites/pic.svg" alt="Pregnancy Information Center Website Link")
