extends ../layout

block title
  title Sychael Web Design & Development
  
block description
  meta(name="description" content="Communicating Your Personal Message Throught the Web Professionally &amp; Affordably.")

block main
  section.section-container.principal(role="complementary")
    h1.redbox Personally Professional 
      span.mobile-hide Websites
    h2 Communicating Your Personal Message Professionally &amp; Affordably
    p
      strong I Build Functional, Clean, Essential Websites, So You Can Share Your Vision Effectively on The Web.
    include ../components/action
  section#meet(role="complementary")  
    h3 Meet the Developer
    .box-wrap
      a.box.home(href="about.html")
        img.box-img(src="img/logo/person-logo.svg" alt="The Builder of Sychael")
  section.portfolio#hello
    h3 View Sychael Sites
    h4 Explore Websites Built By Sychael
    figure.box.hover
      a(href="http://www.advantageroofcleaning.com")
        figcaption Advantage Roof Cleaning
        img(src="img/logo/sites/advantage.svg" alt="Advantage Roof Cleaning Website Link")
    figure.box.hover
      a(href="https://www.theleadonemovement.com" target="_blank")
        figcaption Lead One Movement
        img(src="img/logo/sites/leadone.svg" alt="Lead One Movement Website Link")
    figure.box.hover
      a(href="https://www.dominicanadvance.org" target="_blank")
        figcaption Dominican Advance
        img(src="img/logo/sites/dalogo.svg" alt="Dominican Advance Website Link")
