include ../sections/head

html
  body
    #error-404-wrapper
      h2 Sorry. Sychael Web Design &amp; Development is currently being built. Please check back soon.
      h1 Login If You're A Member:
      form(name="loginform" onsubmit="formLogin" action="index.html")
        label User Name
        input(type="text" name="usr" placeholder="username")
        label Password
        input(type="password" name="pword" placeholder="password")
        input(type="submit" value="Login")
