extends ../layout

block title
  title What We Do
  
block description
  meta(name="description" content="The mission of Website Construction is to provide quality service to meet the needs for your website. I respond in a personal and timely manner and offer work at reasonable costs.")
    
block main
  h1 What I Do
  p The mission of Website Construction is to provide quality service to meet the needs for your website. I respond in a personal and timely manner and offer work at reasonable costs. Specializes in Smaller Business and Startups - Target: Small Company Individuals. Lower Budget Mentor Costs Hour / Project
    h2 Construction Services
    .box.half
      h3.white Custom Built Site
      p If you need flexibility in the style and layout of your design, the custom route is the way to go. It offers less limitations in element placement and several more options when it comes to styling.
      a(href="hire.html").white Have a Custom Site Built
    .box.half
      h3.white Content System Managed
      p If you need more flexibility in features, content management systems are more flexible allowing stores, blogs and other features.
      a(href="hire.html").white Have a Content Management Site Built
    .box.service
      h3.white Setup Social Media
      p Social Media activity is unavoidable in this age. In order to connect and network, social media is necessary. If you need assistance setting up a social media presence on major sites, allow me to setup and optimize your social media sites.
    .box.service
      h3.white Logo Design
      p Logos are an important element of every company branding and design. If you don't have a logo allow me to design a custom logo for your site.
    .box.service
      h3.white Photography
      p Photos are an integral part of life. Websites are no different. If you need high quality photos for your site, consider Website Construction updating your photo arsenal.
      p * Local Chicagoland Area Only
    .box.service
      h3.white Video Promo
      p Videos are always eye-catching. If you do use video though, make a good impression. Video has the power to leave an unparallel impression. If you would like video on your site allow me to create one.
      p * Local Chicagoland Area Only
    //- .box.port
    //-   a(href="http://theleadonemovement.com")
    //-     iframe(src="http://theleadonemovement.com")
    //- .box.port
    //-   a(href="http://advantageroofcleaning.com")
    //-     iframe(src="http://advantageroofcleaning.com")
    //- .box.port
    //-   a(href="http://dominicanadvance.org/")
    //-     iframe(src="http://dominicanadvance.org/")
  p Are you interested in Website Construction desiging you site.
    span
      a.wine(href="hire.html")  Get in contact.
