extends ../layout

block title
  title #{sychael} Services
  
block description
  meta(name="description" content="Sychael Builds Websites, as well as provides complentary services such as Logo Design, Social Media Networking, Photography and Video.")
    
block main
  section.section-container.principal
    h1.redbox Sychael Services
    h2 Creating Clean &amp; Simple Websites
    .box
      h3.headerbox-red Sychael Site
      p As a Web Developer, websites are what I do best.
      p.accordian &caron;
      p.panel.display Have a site custom built as well as add other services as neccessary. Sychael Sites are meant to amplify your message so your voice can reach your intended target. Sychael Sites are always are simple in design, easily functional and focus on conveying the essential content you need to present your viewers.
      br
      a(href="contact.html") Have a Custom Site Built
  section.section-container.backgound-white
    h2 Additional Services
    .box
      h3.headerbox-red Social Media Networking
      p Social Media activity is unavoidable in this age. In order to connect and network, social media is necessary. If you need assistance setting up a social media presence on major sites, allow me to setup and optimize your social media sites.
    .box
      h3.headerbox-red Logo Design
      p Logos are an important element of every company branding and design. If you don't have a logo allow me to design a custom logo for your site.
    .box
      h3.headerbox-red Photography
      p Photos are an integral part of life. Websites are no different. If you need high quality photos for your site, consider Sychael updating your photo arsenal.
      p * Local Chicagoland Area Only
    .box
      h3.headerbox-red Video Promo
      p Videos are always eye-catching. If you do use video though, you should make a good impression. Video has the power to leave an unparallel impression. If you would like video on your site allow me to create one.
      p * Local Chicagoland Area Only
  section.section-container  
    p Are You Interested In Building A Website With Sychael?
      span
        include ../components/action
