RewriteEngine On

#Delete .html at the end of URL's
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

#Reroute to error pages
ErrorDocument 404 /404
ErrorDocument 405 /405
ErrorDocument 500 /500
