{
  "name": "Sychael Web Design & Development",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "pug/pages/zh/about-zh.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"about-zh.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/services.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"services.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/zh/index-zh.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index-zh.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/about.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"about.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/contact.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"contact.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/login.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/zh/contact-zh.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"contact-zh.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pages/zh/services-zh.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"services-zh.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "css/scss/dev/utilities/variables.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/dev/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/dev/utilities/animations.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/design/essentials.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/design/sections/header.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/design/sections/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/design/sections/footer.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/design/layout.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "css/scss/design/theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "pug/components/form-submitted-zh.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"form-submitted-zh.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "js/apps/navActiveClassAdder.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/script.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "img/photos/team/team-michael.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":89258,\"newSize\":83277}}"
    },
    {
      "path": "pug/components/nav.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug",
      "pug/pages",
      "pug/pages/zh",
      "css/scss",
      "css/scss/dev",
      "img",
      "img/logo",
      "pug/components",
      "css",
      "img/photos",
      "img/photos/team"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "pug/layout-zh.pug",
      "imports": [
        "pug/sections/head.pug",
        "pug/sections/header-zh.pug",
        "pug/sections/main.pug",
        "pug/sections/footer-zh.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal-zh.pug"
      ]
    },
    {
      "path": "pug/layout.pug",
      "imports": [
        "pug/sections/head.pug",
        "pug/sections/header.pug",
        "pug/sections/main.pug",
        "pug/sections/footer.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal.pug"
      ]
    },
    {
      "path": "pug/components/form-submitted.pug",
      "imports": [
        "pug/layout.pug",
        "pug/sections/head.pug",
        "pug/sections/header.pug",
        "pug/sections/main.pug",
        "pug/sections/footer.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal.pug"
      ]
    },
    {
      "path": "pug/pages/about.pug",
      "imports": [
        "pug/layout.pug",
        "pug/components/action.pug",
        "pug/sections/head.pug",
        "pug/sections/header.pug",
        "pug/sections/main.pug",
        "pug/sections/footer.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal.pug"
      ]
    },
    {
      "path": "pug/pages/contact.pug",
      "imports": [
        "pug/layout.pug",
        "pug/sections/head.pug",
        "pug/sections/header.pug",
        "pug/sections/main.pug",
        "pug/sections/footer.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal.pug"
      ]
    },
    {
      "path": "pug/pages/index.pug",
      "imports": [
        "pug/layout.pug",
        "pug/components/action.pug",
        "pug/sections/head.pug",
        "pug/sections/header.pug",
        "pug/sections/main.pug",
        "pug/sections/footer.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal.pug"
      ]
    },
    {
      "path": "pug/pages/login.pug",
      "imports": [
        "pug/sections/head.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug"
      ]
    },
    {
      "path": "pug/pages/services.pug",
      "imports": [
        "pug/layout.pug",
        "pug/components/action.pug",
        "pug/sections/head.pug",
        "pug/sections/header.pug",
        "pug/sections/main.pug",
        "pug/sections/footer.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal.pug"
      ]
    },
    {
      "path": "pug/sections/footer-zh.pug",
      "imports": [
        "pug/components/tooltips.pug",
        "pug/components/modal-zh.pug"
      ]
    },
    {
      "path": "pug/sections/footer.pug",
      "imports": [
        "pug/components/tooltips.pug",
        "pug/components/modal.pug"
      ]
    },
    {
      "path": "pug/sections/head.pug",
      "imports": [
        "pug/components/favicon.pug",
        "pug/components/links.pug"
      ]
    },
    {
      "path": "pug/sections/header-zh.pug",
      "imports": [
        "pug/components/nav.pug"
      ]
    },
    {
      "path": "pug/sections/header.pug",
      "imports": [
        "pug/components/nav.pug"
      ]
    },
    {
      "path": "css/scss/dev/style.scss",
      "imports": [
        "css/scss/dev/utilities/variables.scss",
        "css/scss/dev/utilities/functions.scss",
        "css/scss/dev/utilities/mixins.scss",
        "css/scss/dev/utilities/animations.scss",
        "css/scss/design/essentials.scss",
        "css/scss/design/layout.scss",
        "css/scss/design/theme.scss",
        "css/scss/design/sections/header.scss",
        "css/scss/design/sections/main.scss",
        "css/scss/design/sections/footer.scss",
        "css/scss/design/components/loader.scss",
        "css/scss/design/components/action.scss",
        "css/scss/design/components/button.scss",
        "css/scss/design/components/projects-work.scss",
        "css/scss/design/components/form.scss",
        "css/scss/design/components/box.scss",
        "css/scss/design/components/label.scss",
        "css/scss/design/components/accordian.scss",
        "css/scss/design/components/modal.scss",
        "css/scss/design/pages/index.scss",
        "css/scss/design/pages/about.scss",
        "css/scss/design/pages/contact.scss",
        "css/scss/design/pages/error.scss"
      ]
    },
    {
      "path": "pug/pages/error-pages/403.pug",
      "imports": [
        "pug/sections/head.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug"
      ]
    },
    {
      "path": "pug/pages/error-pages/404.pug",
      "imports": [
        "pug/sections/head.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug"
      ]
    },
    {
      "path": "pug/pages/error-pages/405.pug",
      "imports": [
        "pug/sections/head.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug"
      ]
    },
    {
      "path": "pug/pages/error-pages/500.pug",
      "imports": [
        "pug/sections/head.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug"
      ]
    },
    {
      "path": "pug/pages/zh/about-zh.pug",
      "imports": [
        "pug/layout-zh.pug",
        "pug/components/action-zh.pug",
        "pug/sections/head.pug",
        "pug/sections/header-zh.pug",
        "pug/sections/main.pug",
        "pug/sections/footer-zh.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav-zh.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal-zh.pug"
      ]
    },
    {
      "path": "pug/pages/zh/contact-zh.pug",
      "imports": [
        "pug/layout-zh.pug",
        "pug/sections/head.pug",
        "pug/sections/header-zh.pug",
        "pug/sections/main.pug",
        "pug/sections/footer-zh.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav-zh.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal-zh.pug"
      ]
    },
    {
      "path": "pug/pages/zh/index-zh.pug",
      "imports": [
        "pug/layout-zh.pug",
        "pug/components/action-zh.pug",
        "pug/sections/head.pug",
        "pug/sections/header-zh.pug",
        "pug/sections/main.pug",
        "pug/sections/footer-zh.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav-zh.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal-zh.pug"
      ]
    },
    {
      "path": "pug/pages/zh/services-zh.pug",
      "imports": [
        "pug/layout-zh.pug",
        "pug/components/action-zh.pug",
        "pug/sections/head.pug",
        "pug/sections/header-zh.pug",
        "pug/sections/main.pug",
        "pug/sections/footer-zh.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav-zh.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal-zh.pug"
      ]
    },
    {
      "path": "pug/components/form-submitted-zh.pug",
      "imports": [
        "pug/layout-zh.pug",
        "pug/sections/head.pug",
        "pug/sections/header-zh.pug",
        "pug/sections/main.pug",
        "pug/sections/footer-zh.pug",
        "pug/components/favicon.pug",
        "pug/components/links.pug",
        "pug/components/nav-zh.pug",
        "pug/components/tooltips.pug",
        "pug/components/modal-zh.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "settings"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "svg"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"compiler-babel\":{\"enabled\":true}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}