extends ../../layout-zh

block title
  title 关于
block description
  meta(name="description" content="自由网页设计师兼 开发人员，热衷于上帝，并创建功能，干净，简洁的网站，代表您的身份。")

block main
  section.section-container.principal.page
    h1.redbox 关于循环
    article.bio-pic
      img.profile(src="img/photos/team/team-michael.jpg" alt="开发者的照片朱文凯")
      p.bio 我是循环的设计者和开发者朱文凯。 循环，这个名字是我的妻子的名字又我的总和。 我的愿望是通过我对上帝和网络发展的热爱，创建个人专业网站，传达你工作的目的。 我喜欢网络，因为它是创造力和逻辑之间的完美平衡！ 我作为网页设计师的目标和开发人员通过将网站内容集中在您的基本需求上来创建功能强大，简洁的设计。
  section.section-container.backgound-white
    h2 个人和专业
    .box
      h3.headerbox-red 个人
      p 每个网站都是由人设计的。 我努力做到个性化，愉快。 我对上帝的热爱激发了我与人联系的渴望，我对网络的热情驱使我建立代表你的身份和信息的网站！
    .box
      h3.headerbox-red 专业
      p 网站对于查找信息和与人们联系至关重要。 作为我的职业，我致力于提供满足需求的专业网站，同时不影响质量。
  section.section-container
    h2 设计原则
    .box-container
      .box
        h3.headerbox-red 基本内容
        ul
          li 精致内容
          li 简洁措辞
          li 相关媒体
      .box
        h3.headerbox-red 清洁设计
        ul
          li Pleasingly Aesthetic
          li Modern Design
          li Personalized Theme
      .box
        h3.headerbox-red Simple Functionality
        ul
          li Intuitive Interactions
          li Simple Usability
          li Friendly Accessiblity
      include ../../components/action-zh
