extends ../../layout-zh

block title
  title #{sychaelZh} 联系
block description
  meta(name="description" content="如果您有任何疑问，问题或疑虑，请联系我.")

block main
  section.section-container
    h1.redbox 联系我
    .contact-button
      .button-contact
        .contact-info
          a(href="tel:16307910269") 1 (630) 791-0269&nbsp;
            span.mobile-hide |&nbsp; 呼叫
      br
      .button-contact
        .contact-info
          a(href="mailto:sychael.michael@gmail.com") sychael.michael@gmail.com&nbsp; 
            span.mobile-hide |&nbsp; 电邮
  form(action="https://formspree.io/mlppjaam" method="POST")
    input(type="hidden" name="_next" value="http://www.sychael.com/form-submitted-zh.html")
    .hpot
      label 将此字段留空:
        input(name="_gotcha")
    fieldset
      //- h4 #[span.number 1] Your Info
      .form-field
        label(for="name") 全名
        input(type="text" name="name" id="name"  title="Please Enter Your First and Last Name" required="required")
      .form-field
        label(for="email") 电子邮件地址
        input(type="email" name="email" id="email" pattern="[a-zA-Z0-9.-]{1,30}[@]{1}[a-z0-9]{1,15}[.]{1}[a-z]{2,6}" title="Please Enter Your Email Address" required="required")
      .form-field
        label(for="phone") 电话号码
        input(type="tel" name="phone" id="phone" pattern="[0-9( )-]{10,16}" min="10" max="13" title="Please Enter Your Phone Number" required="required")
      .form-field
        label(for="company") 公司名 &nbsp;
          span *如果适用
        input(type="text" id="company" name="company")
    fieldset
      .form-field
        label(for="message") 信息
        textarea.scrollbar(name="message" id="message")
      button(type="submit") 发信息
    //-   h4 #[span.number 2] Your Reason
    //-   .form-field
    //-     label(for="reason") Choose A Reason
    //-     select(name="reason" id="reason")
    //-       optgroup(label="Professional")
    //-         option(value="hire" id="option") Hire for Work
    //-       optgroup(label="Personal")
    //-         option(value="general" id="general") General Message
    //-         option(value="problem" id="problem") Problem with Site
