extends ../../layout-zh

block title
  title 循环网页设计和开发
block description
  meta(name="description" content="提供个人专业网站，并在网上传播您的信息经济实惠.")

block main
  section.section-container.principal.hero(role="complementary")
    h1.redbox 个人  |  专业
      span.mobile-hide 网页
    h2 以专业和经济的方式传达您的个人信息。
    p
      strong 我建立功能，干净，基本的网站，所以你可以在网上有效地分享你的愿景
    include ../../components/action-zh
  section.section-container.backgound-white(role="complementary")
    h2 认识开发者
    .box-wrap
      figure
        a.box.no-padding(href="about.html")
          figcaption.headerbox-red 朱文凯
          img.box-img(src="img/logo/person-logo.svg" alt="The Builder of Sychael")
  section.portfolio
    h2 查看网站
    h3 探索由我建立的网站
    figure
      a.box.hover(href="http://www.advantageroofcleaning.com")
        figcaption 优势屋顶清洁
        img.logo-client(src="img/logo/sites/advantage.svg" alt="Advantage Roof Cleaning Website Link")
    figure
      a.box.hover(href="https://www.theleadonemovement.com" target="_blank")
        figcaption 引领运动
        img.logo-client(src="img/logo/sites/leadone.svg" alt="Lead One Movement Website Link")
    figure
      a.box.hover(href="https://www.dominicanadvance.org" target="_blank")
        figcaption 多米尼加进步
        img.logo-client(src="img/logo/sites/dalogo.svg" alt="Dominican Advance Website Link")
    figure
      a.box.hover(href="https://www.supportpiclife.org" target="_blank")
        figcaption 怀孕信息中心
        img.logo-client(src="img/logo/sites/pic.svg" alt="Pregnancy Information Center Website Link")
