extends ../../layout-zh

block title
  title 服务
block description
  meta(name="description" content="循环构建网站，并提供标志设计，社交媒体网络，摄影和视频等互补服务。")

block main
  section.section-container.principal
    h1.redbox 循环服务
    h2 创建干净简单的网站
    .box
      h3.headerbox-red Sychael Site
      p 作为网开发者，网站是我最擅长的
      p.accordian &caron;
      p.panel.display 有一个站点自定义构建，以及添加其他服务作为必要。 循环网站旨在放大您的信息，以便您的声音可以达到您的目标。 循环网站设计简单，功能强大，专注于传达您呈现观众所需的基本内容。
      br
      a(href="contact-zh.html") 建立自定义网站
  section.section-container.backgound-white
    h2 额外服务
    .box
      h3.headerbox-red 社交媒体网络
      p 社交媒体活动在这个时代是不可避免的。 为了连接和网络，社交媒体是必要的。 如果您需要帮助在主要网站上设置社交媒体，请允许我设置和优化您的社交媒体网站。
    .box
      h3.headerbox-red 标志设计
      p 徽标是每个公司品牌和设计的重要元素。 如果您没有徽标，请允许我为您的网站设计自定义徽标。
    .box
      h3.headerbox-red 摄影
      p 照片是生活中不可或缺的一部分。 网站也不例外。 如果您的网站需要高质量的照片，请考虑使用循环更新您的照片库。
      p * 仅限芝加哥当地地区
    .box
      h3.headerbox-red 视频促销
      p 视频总是引人注目。 如果您确实使用了视频，那么您应该留下好印象。 视频有能力留下无与伦比的印象。 如果您想在您的网站上播放视频，请允许我创建一个视频。
      p * 仅限芝加哥当地地区
  section.section-container
    p 您是否有兴趣使用循环建立网站？
      span
        include ../../components/action-zh
