include ../../sections/head

block title
  title Not Accessable | 403
  
block description
  meta(name="description" content="Sorry, the page has temporarily been altered and isn't locatable or accessable.")

html
  body
    #error-wrapper
      h1.redbox Not Accessable
      p Sorry, this page has temporarily been altered and isn't locatable or accessable.
      p Return 
        a(href='index.html') Home 
        | or #[a(href="contact.html") Report Issue.]
