include ../../sections/head

html
  body
    #error-wrapper
      h1.redbox Page Doesn't Exist
      p Sorry, the page you searched for doesn't exist. It may be because:
      ol
        li hello
      p Return 
        a(href='index.html') Home 
        | or #[a(href="contact.html") Report Issue.]
