include ../../components/head

html
  body
    #error-404-wrapper
      h1 Page Doesn't Exist
      p Sorry, the page you were searching does not exist.
      p Please return to 
        a(href='index.html') Home Page 
        | or #[a(href="contact.html") report] the issue
