include ../../sections/head

block title
  title Action Not Allowed | 405
  
block description
  meta(name="description" content="Sorry, the action you performed is restricted.")

html
  body
    #error-wrapper
      h1.redbox Action Not Allowed
      p Sorry, the action you performed is restricted.
      p Return 
        a(href='index.html') Home 
        | or #[a(href="contact.html") Report Issue.]
