include ../../sections/head

html
  body
    #error-404-wrapper
      h1 Action Not Allowed
      p Sorry, the action you performed is restricted.
      p Please return to 
        a(href='index.html') Home Page 
        | or #[a(href="contact.html") report] the issue
