include ../../sections/head

html
  body
    #error-wrapper
      h1.redbox Unknown Server Problem
      p
        strong I apologize, the server that distributes the files is having difficulty.
      p Try Clearing the Browser's Cache or Cookies &amp; Restarting Your Browser.
      p Return 
        a(href='index.html') Home 
        | or #[a(href="contact.html") Report Issue.]
