include ../../sections/head

block title
  title Server Error | 500
  
block description
  meta(name="description" content="I apologize, the server is having difficulty. Try Clearing the Browser's Cache or Cookies &amp; Restarting Your Browser.")

html
  body
    #error-wrapper
      h1.redbox 
        span.mobile-hide Unknown&nbsp;  
        | Server Problem
      p
        strong I apologize, the server is having difficulty.
      p Try Clearing the Browser's Cache or Cookies &amp; Restarting Your Browser.
      p Return 
        a(href='index.html') Home 
        | or #[a(href="contact.html") Report Issue.]
