extends ../layout

block title
  title Form Submitted
  
block description
  meta(name="description" content="Contact Website Construction if you have any inquiries, questions or concerns. If you are looking to hire Website Consturction leave a message and go to the Hire page.")
    
block main
  section
    h1.redbox Form Submitted
    p 
      strong Thank you for submitting your data. I will get back to you as soon as possible!
