extends ../layout-zh

block title
  title Form Submitted

block description
  meta(name="description" content="Contact Website Construction if you have any inquiries, questions or concerns. If you are looking to hire Website Consturction leave a message and go to the Hire page.")

block main
    section.section-container
      h1.redbox 表格已提交
      p 感谢您提交信息。我会尽快回复你!
      a(href="index-zh.html") 返回主页
