extends ../layout

block title
  title Form Submitted
  
block description
  meta(name="description" content="Contact Website Construction if you have any inquiries, questions or concerns. If you are looking to hire Website Consturction leave a message and go to the Hire page.")
    
block main
    section.section-container
      h1.redbox Form Submitted
      p Thank you for submitting your info. I will get back to you as soon as possible!
      a(href="index") Return Home
