#myModal.modal(role="dialog")
  .close &times;
  .modal-content.scrollbar
    h2 Terms &amp; Conditions
    h4 Your Responsibility
    p As a professional developer, I commit to designing quality websites! For this to happen, it requires reciprocal effort. Honesty is essential to website production. Please, share your vision in clear terms, answer questionnaires truthfully, and communicate effectively. Dishonest communication can produce undesirable results.
    h4 Ethics
    p Sychael exists to use Web Development as an opportunity to bring great quality content to the internet. As Sychael, I am not obligated to provide assistance to any project that prohibits my right to stand up for the truth and speak freely, as also is protected in the Constitution. I have the role as a citizen, to use my freedom of creativity, to further only causes that do not violate God's laws, such as: idolatry, sexually perverted content, violence, vanity and arrogance.
    h4 Advertisement
    p Sychael does not endorse Ad Marketing for the following reasons:
    p 1. It is a cheap way of making money without doing work.
    p 2. It also violates all of Sychael’s Design Principles. It is unnecessary content and takes up valuable space. This also disrupts the flow of the site and results in unpleasant aesthetics and the branding is usually compromised.
    p 3. Lastly, it ruins the experience of most users.
    p *Exceptions are made if you want to personally retrieve ads from a partnership and display them.
    h4 Pricing
    p As a freelancer, I price my work justly and flexibly to suit the needs of the recipient and the project. I am willing to work with budgets!
    h4 Billing
    p Bills are sent out monthly, if a reoccurring site maintenance plan is selected. All charges are in increments of 15 minuets.
