#myModal.modal(role="dialog")
  .close &times;
  .modal-content.scrollbar
    h2 条款和条件
    h4 你的责任
    p 作为一名专业开发人员，我致力于设计优质网站！ 要做到这一点，需要相互努力。 诚实对网站制作至关重要。 请以明确的方式分享您的愿景，如实回答问卷，并有效沟通。 不诚实的沟通会产生不良后果。
    h4 伦理
    p 循环使用Web开发作为向互联网提供高质量内容的机会。 我没有义务为任何禁止我有权维护真相和自由发言的项目提供协助，同样受到宪法保护。 我充当公民的角色，利用我的创造自由，进一步推动不违反上帝法律的事业，例如：偶像崇拜，性变态内容，暴力，虚荣和傲慢。
    h4 广告
    p 循环不支持广告营销，原因如下：
    p 1. 这是一种廉价的赚钱方式而不做工作。
    p 2. 违反了设计原则。 这是不必要的内容，占用宝贵的空间。 这也破坏了网站的流动并导致令人不愉快的美感，并且品牌化通常会受到损害。
    p 3. 最后，它破坏了大多数用户的体验。
    p *如果您想亲自从合作伙伴关系中检索广告并显示广告，则会出现例外情况。
    h4 价钱
    p 作为一名自由职业者，我公平，灵活地为我的工作定价，以满足收件人和项目的需求。 我愿意与预算合作！
    h4 开票
    p 如果选择了定期的站点维护计划，则每月发送一次帐单。 所有费用均以15分钟为增量。
