#myModal.modal(role="dialog")
  .close &times;
  .modal-content.scrollbar
    h2 Terms &amp; Conditions
    h4 Your Responsibility
    p As a recipient, you are receiving a fully customized, designed and functional website. For this to happen, it requires not only hard work from the developer but also some help from you. Honesty is essential to website production. Please, share your vision in clear terms; answer questionnaires truthfully; communicate  Dishonest communication can produce undesirable results.
    p I am aware these terms and conditions are unlike most others. For Sychael, the first priority above building websites is building God’s Kingdom. Whatever prohibits this results in Sychael Services termination.
    h4 Ethics
    p Sychael exists to use Web Development as an oppurtunity to share enter disucssion about God. As Sychael, I am not obligated to provide assistance to any project that prohibits my right to stand up for the truth and speak freely, as also is protected in the Constitution. I have the role as a citizen, to use my freedom of creativitity, to further only causes that do not violate God's laws, such as: idolatry, sexually perverted content, violence, vanity and arrogance.
    h4 Advertisement
    p Sychael does not endorse Ad Marketing for the following reasons. The main reason is because it is a make easy money without doing work and is additionally un-beneficial to most users. It also violates all of Sychael’s Design Principles. The first being it is unnecessary content and takes up valuable space. This also disrupts the flow of the site and results in unpleasant aesthetics and the branding is usually compromised. Lastly, it ruins the experience of most users. *Exceptions are made if you want to personally retrieve ads from a partnership and display them.
    h4 Pricing
    p As a freelancer, I price my work justly based on a fair equation. If someone doesn’t have much to give, since they still deserve good things, I will and desire to do it for them at a price they can afford (Assuming they won’t take advantage of me). If someone has a lot of money and is okay with having it, they should be equally as willing to spend it on what’s important. We are equal. Whoever believes in equality will understand.
    h4 Billing
    p Bills are sent out monthly, if a reoccuring site maintance plan is selected. All charges are in increments of 15 minuets.
    br
    | *Unless It Violates Ethics
