/// TOOLTIP
mixin img_icon-social(link, fileName, label, alt)
  div.label-container
    a(href=link)
      span.label= label
      img.icon(src="img/icons/social-media/" + fileName + ".svg" alt=alt )
