// TOP BAR //

@if($top-color-bar == true) {
    .top-bar {
      background: $wine;
      height: $amount-average;
      top: -$amount-small;
      position: sticky;
      z-index: 3;
  }
}

/// HEADER ///
header {
  display: flex;
  background-color: $white-fade;
  top: $amount-narrow;
  position: sticky;
  padding: $amount-medium $amount-wide;
  justify-content: space-between;
  align-items: center;
  transition: transition();
  @include breakpoint() {
    padding: 2.5px $amount-wide;
  }
}

// LOGO //

.logo-container {
  height: 4em;
}
img.logo {
  height: 4em;
  position: absolute;
  clip: rect(0, 4.1em, 4em, 0);
  transition: transition-medium();
  @include animate(slide-in-right);
  @include breakpoint() {
    clip: rect(0, 23.7em, 4em, 0);
  }
}


// NAVIGATION //

img.hamburger-menu {
  width: 5em;
  cursor: pointer;
  transition: transition();
  @include animate(slide-in-left);
  @include breakpoint {
    margin-right: -55px;
    display: none;
  }
}

nav {
  .reveal {
    top: -350px;
    padding: 0;
    transition: all .3s ease;
    @include breakpoint() {
      display: flex;
    }
  .active-nav-link {
    background-color: $wine-trans;
    border: 1.5px solid $wine-border;
    color: $white;
    font-weight: 400;
  }
  }
  ul {
    position: absolute;
    top: 4.5em;
    left: 0;
    background: $charcoal-opaq;
    padding: 0;
    width: 100%;
    transition: all .3s ease;
    animation: slide-in-left 1s ease;
    @include breakpoint() {
      background: none;
      position: initial;
    }
  }
  li {
    text-align: center;
    &:hover {
      background: $wine-trans;
      @include breakpoint() {
        background: $charcoal-lighter;
      }
    }
    :focus {
      background: $wine-trans;
      padding: $amount-large;
      outline: none;
    }
  }
  a {
    display: block;
    padding: $amount-large $amount-large;
    font-size: 1.4em;
    font-weight: 200;
    // text-transform: uppercase;
    color: $white;
    &:hover, &:focus {
      background-color: $wine-trans;
      color: $white;
      padding: $amount-large $amount-open;
      @include breakpoint() {
        background-color: $charcoal;
      }
    }
    @include breakpoint() {
      color: $charcoal;
      padding: $amount-medium $amount-wide;
      &:hover, &:focus {
        padding: $amount-medium $amount-wide;
        }
    }
  }
}

header {
  &:after {
    content: "";
    display: block;
    top: 5.4em;
    left: 0;
    position: absolute;
    height: 9px;
    width: 100%;
    background: linear-gradient(to bottom, $charcoal-pure, $transparent);
    transition: transition();
  }
}
