main {
  background-color: $white-slush;
  min-height: 65vh;
  @include animation(fade-in);
}

.main-container {
  padding: $amount-median $amount-none $amount-none;
}

section {
  &.backgound-white {
    background: $white;
  }
}

.section-container {
  padding: $amount-wide $amount-open;
  transition: transition();
  @include breakpoint($breakpoint-devices-desktop) {
    padding: $amount-wide $amount-enormous;
  }
}
