main {
  background-color: $white-slush;
  min-height: 65vh;
  @include animation(fade-in);
}

.main-container {
  padding: $amount-average $amount-none;
}

section {
  padding: $amount-large $amount-none;
}

.section-container {
  padding: $amount-large $amount-large;
}
