#error-wrapper {
  display: flex;
  height: 100%;
  background-color: $white-pure;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    margin: $amount-small;
  }
  a {
    font-weight: 500;
  }
}
