img.profile {
  display: block;
  margin: $amount-average auto;
  width: 7em;
  border-radius: 100%;
  border: $wine-trans 2px solid;
  border-radius: 50%;
  text-align: center;
  @include breakpoint() {
    float: left;
    margin: $amount-small $amount-superlarge;
    text-align: justify;
  }
}

article.bio-pic {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
}

p.bio {
  text-align: center;
  @include breakpoint() {
    max-width: 900px;
    text-align: left;
  };
}
