h2.index {
  margin: -15px auto 9px;
  max-width: 540px;
  font-size: .9em;
  font-weight: 300;
  @media(min-width: 570px) {
    font-size: 1em;
  }
  @media(min-width: 768px) {
    margin-top: 0;
    font-size: 1.1em;
  }
}

img.box-port {
  width: 19em;
}
