
<html lang="en">
  <head>
    <title>Form Submitted</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta name="description" content="Contact Website Construction if you have any inquiries, questions or concerns. If you are looking to hire Website Consturction leave a message and go to the Hire page."/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="apple-touch-icon" href="img/logo/favicon/favicon.png"/>
    <link rel="icon" type="image/png" href="img/logo/favicon/favicon.png"/>
    <meta name="msapplication-TileColor" content="#993D55f"/>
    <meta name="msapplication-TileImage" content="img/logo/favicon/favicon.png"/>
    <meta name="theme-color" content="#993D55f"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,600,700,700i,900"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-92981200-1"></script>
    <script src="js/script.js"></script>
  </head>
  <body id="page-top" role="document">
    <div class="top-bar" role="decoration"></div>
    <header>
      <div class="logo-container"><a href="index.html"><img class="logo animate" src="img/logo/sychael-logo.svg" alt="Sychael Web Design and Development Logo"/></a></div>
      <nav><img class="hamburger-menu animate" src="img/menu/menu-hamburger.svg" alt="Navigation Menu"/>
        <ul class="reveal">
          <li><a href="/index.html">Home</a>
          </li>
          <li><a href="/about.html">About</a>
          </li>
          <li><a href="/services.html">Services</a>
          </li>
          <li><a href="/contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="loader-container">
      <div class="loader"></div>
    </div>
    <main role="main">
      <div class="main-container">
        <section class="section-container">
          <h1 class="redbox">Form Submitted</h1>
          <p>Thank you for submitting your info. I will get back to you as soon as possible!</p><a href="index.html">Return Home</a>
        </section>
      </div>
    </main>
    <!--/ TOOLTIP-->
    <footer>
      <div class="footer-info">
        <div class="copyright">
          <p>&copy; Sychael Site <span class="dateYear"></span></p>
        </div>
        <div class="footer-nav"><a class="modalPopup" tabindex="0">Terms &amp; Conditions</a><a href="index-zh.html">Chinese | 中文</a></div>
      </div>
      <div class="modal" id="myModal" role="dialog">
        <div class="close">&times;</div>
        <div class="modal-content scrollbar">
          <h2>Terms &amp; Conditions</h2>
          <h4>Your Responsibility</h4>
          <p>As a professional developer, I commit to designing quality websites! For this to happen, it requires reciprocal effort. Honesty is essential to website production. Please, share your vision in clear terms, answer questionnaires truthfully, and communicate effectively. Dishonest communication can produce undesirable results.</p>
          <h4>Ethics</h4>
          <p>Sychael exists to use Web Development as an opportunity to bring great quality content to the internet. As Sychael, I am not obligated to provide assistance to any project that prohibits my right to stand up for the truth and speak freely, as also is protected in the Constitution. I have the role as a citizen, to use my freedom of creativity, to further only causes that do not violate God's laws, such as: idolatry, sexually perverted content, violence, vanity and arrogance.</p>
          <h4>Advertisement</h4>
          <p>Sychael does not endorse Ad Marketing for the following reasons:</p>
          <p>1. It is a cheap way of making money without doing work.</p>
          <p>2. It also violates all of Sychael’s Design Principles. It is unnecessary content and takes up valuable space. This also disrupts the flow of the site and results in unpleasant aesthetics and the branding is usually compromised.</p>
          <p>3. Lastly, it ruins the experience of most users.</p>
          <p>*Exceptions are made if you want to personally retrieve ads from a partnership and display them.</p>
          <h4>Pricing</h4>
          <p>As a freelancer, I price my work justly and flexibly to suit the needs of the recipient and the project. I am willing to work with budgets!</p>
          <h4>Billing</h4>
          <p>Bills are sent out monthly, if a reoccurring site maintenance plan is selected. All charges are in increments of 15 minuets.</p>
        </div>
      </div>
      <div class="icons-social-media tooltip">
            <div class="label-container"><a href="https://github.com/Sychael"><span class="label">GitHub</span><img class="icon" src="img/icons/social-media/github.svg" alt="GitHub Icon"/></a></div>
            <div class="label-container"><a href="https://codepen.io/Sychael/"><span class="label">Codepen</span><img class="icon" src="img/icons/social-media/codepen.svg" alt="Codepen Icon"/></a></div>
            <div class="label-container"><a href="https://www.facebook.com/sychaelsites"><span class="label">Facebook</span><img class="icon" src="img/icons/social-media/facebook.svg" alt="Facebook Icon"/></a></div>
            <div class="label-container"><a href="https://twitter.com/sychaellawinger"><span class="label">Twitter</span><img class="icon" src="img/icons/social-media/twitter.svg" alt="Twitter Icon"/></a></div>
            <div class="label-container"><a href="https://www.linkedin.com/in/michael-lawinger-83112a1a"><span class="label">LinkedIn</span><img class="icon" src="img/icons/social-media/linkedin.svg" alt="LinkedIn Icon"/></a></div>
            <div class="label-container"><a href="https://vimeo.com/user19860207"><span class="label">Vimeo</span><img class="icon" src="img/icons/social-media/vimeo.svg" alt="Vimeo Icon"/></a></div>
            <div class="label-container"><a href="https://plus.google.com/102980324283872428489"><span class="label">Google+</span><img class="icon" src="img/icons/social-media/google-plus.svg" alt="Google Plus Icon"/></a></div>
      </div><a class="mobile" href="#page-top"></a>
    </footer>
  </body>
</html>