/// BREAKPOINT ///

  @mixin breakpoint($value: $breakpoint-devices-main) {
    @media(min-width: #{$value}) {
      @content;
    }
  }

/// ANIMATIONS ///

  @mixin transform($type: scale, $amount: 1.03) {
    transform: scale($amount);
  }

  @mixin animation($name, $amount: .9s, $type: ease) {
    animation: $name $amount $type;
  }

/// ELEMENTS ///

  /// FORMS
    @mixin input {
      background: $white-trans;
      color: $charcoal;
      border: .5px solid $white;
      margin: 0 auto;
      padding: 3px 6px;
      font-weight: 100;
      text-align: left;
    }

    @mixin button {
      @content;
      background-color: $wine-light;
      margin: $amount-average auto;
      padding: 1em;
      font-size: 1.1em;
      font-weight: 600;
      color: $white;
      transition: transition();
      border: none;
      &:hover {
        background-color: $wine;
        @include transform(scale);
      }
      &:focus {
        padding: 1em;
        background-color: $wine;
        @include transform(scale);
        outline: none;
      }
      &:active {
        background-color: $wine-darkest;
      }
    }

  // IMAGES

    @mixin figure() {
      figcaption {
        background-color: $wine;
        text-align: center;
        font-weight: 500;
        color: $white;
      }
    }

/// THEME FEATURES ///

    @mixin syrchael() {
      background-color: $wine-light;
      border-radius: 100%;
      margin-right: 9px;
      padding: 5px 13px;
    }

    @mixin tooltip() {
      display: inline-block;
      position: relative;
      transition: transition();
    }
