/// BREAKPOINT ///

/// QUERIES ///

  $breakpoint-devices-default: 320px;
  $breakpoint-devices-medium-cell: 375px;
  $breakpoint-devices-large-cell: 411px;
  $breakpoint-devices-tablet: 768px;
  $breakpoint-devices-main: 900px;
  $breakpoint-devices-desktop: 1150px;
  @mixin breakpoint($value: $breakpoint-devices-main) {
    @media(min-width: #{$value}) {
      @content;
    }
  }

/// ANIMATIONS ///

  @mixin transform($transform) {
    transform: $transform;
  }
    @mixin transform-scale($type: scale, $amount: 1.02) {
      @include transform(scale($amount));
    }

  @mixin animation($name, $amount: .9s, $type: ease) {
    animation: $name $amount $type;
  }
  @mixin animate($name) {
    &.animate {
      @include animation($name);
    }
  }

/// ELEMENTS ///

  /// FORMS
    @mixin input {
      background: $white-trans;
      color: $charcoal;
      border: 1.5px solid $white;
      margin: 0 auto;
      padding: 3px 6px;
      font-weight: 100;
      text-align: left;
    }

    @mixin button {
      @content;
      background-color: $wine-trans;
      margin: $amount-large auto;
      padding: .6em 1.5em;
      font-weight: 500;
      color: $white;
      transition: transition();
      font-size: 1.3em;
      &:hover {
        background-color: $wine-dark;
      }
      &:focus {
        padding: .7em 1.6em;
        background-color: $wine-darken;
        outline: none;
      }
      &:active {
        background-color: $charcoal;
      }
      @include breakpoint() {
        font-size: 1.5em;
      }
    }

  // IMAGES

    @mixin figure() {
      figcaption {
        background-color: $wine-trans;
        text-align: center;
        font-weight: 500;
        color: $white;
      }
    }

/// THEME FEATURES ///

    @mixin sychael() {
      background-color: $wine-light;
      border-radius: 100%;
      margin-right: 9px;
      padding: 5px 13px;
    }

    @mixin tooltip() {
      display: inline-block;
      position: relative;
      transition: transition();
    }
