/// FONTS ////

  $font-heading: "Raleway", "sans-serif";
  $font-primary: "Montserrat", "sans-serif";


/// COLORS ///

  $transparent: rgba(0,0,0,0);
  $color-primary: #9C3952;
  $color-secondary: #337289;
  $color-light: #F6F6F6;
  $color-dark: #262626;

      /// WINE
      $wine-wash: lighten($color-primary, 43%);
      $wine-brightest: lighten($color-primary, 18%);
      $wine-bright: lighten($color-primary, 15%);
      $wine-lightest: lighten($color-primary, 9%);
      $wine-light: lighten($color-primary, 6%);
      $wine-lighten: lighten($color-primary, 3%);
      $wine: $color-primary;
      $wine-darken: darken($color-primary, 3%);
      $wine-dark: darken($color-primary, 6%);
      $wine-darkest: darken($color-primary, 9%);
      // DARK WINE : BORDERS
      $wine-border: #3B102B;
      // WINE-OPACITY
      $wine-trans: rgba($wine-darken, .9);
      $wine-light-trans: rgba($wine-lightest, .7);

      /// TURQOUISE
      $turqouise-light: lighten($color-secondary, 12%);
      $turqouise: #337289;


      /// WHITE
      $white-pure: lighten($color-light, 6%);
      $white: $color-light;
      $white-taint: darken($color-light, 3%);
      $white-slush: darken($color-light, 6%);
      $white-polluted: darken($color-light, 9%);
      // WHITE-OPACITY
      $white-fade: rgba($white, .99);
      $white-trans: rgba($white, .9);
      $white-transp: rgba($white, .8);

      /// CHARCOAL
      $charcoal-lightest: lighten($color-dark, 25%);
      $charcoal-bright: lighten($color-dark, 12%);
      $charcoal-lighter: lighten($color-dark, 6%);
      $charcoal-light: lighten($color-dark, 3%);
      $charcoal: $color-dark;
      $charcoal-pure: darken($color-dark, 6%);
      // CHARCOAL-OPACITY
      $charcoal-opaq: rgba($charcoal-pure, .95);
      $charcoal-transl: rgba($charcoal-pure, .7);
      $charcoal-trans: rgba($charcoal-pure, .50);


/// AMOUNTS ///
  $amount-none: 0;
  $amount-narrow: 3px;
  $amount-small: 6px;
  $amount-average: 9px;
  $amount-medium: 12px;
  $amount-median: 15px;
  $amount-large: 18px;
  $amount-wide: 21px;
  $amount-open: 24px;
  $amount-superlarge: 33px;
  $amount-enormous: 45px;
  $amount-gigantic: 3em;

/// WEBSITE FEATURES ///

  $top-color-bar: true;
