include ../components/tooltips

block footer
footer
  .footer-info
    .copyright
      p &copy; Sychael Site #[span.dateYear]
    .footer-nav
      a.modalPopup(tabindex= 0) Terms &amp; Conditions
  include ../components/modal
  .icons-social-media.tooltip
    +img_icon-social("https://github.com/Sychael", "github", "GitHub", "GitHub Icon")
    +img_icon-social("https://codepen.io/Sychael/", "codepen", "Codepen", "Codepen Icon")
    +img_icon-social("https://www.facebook.com/sychaelsites", "facebook", "Facebook",  "Facebook Icon")
    +img_icon-social("https://twitter.com/sychaellawinger", "twitter", "Twitter", "Twitter Icon")
    +img_icon-social("https://www.linkedin.com/in/michael-lawinger-83112a1a", "linkedin", "LinkedIn", "LinkedIn Icon")
    +img_icon-social("https://vimeo.com/user19860207", "vimeo", "Vimeo", "Vimeo Icon")
    +img_icon-social("https://plus.google.com/102980324283872428489", "google-plus", "Google+", "Google Plus Icon")
  a.mobile( href="#page-top") Back To Top
