block title
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
block description
meta(http-equiv="X-UA-Compatible" content="IE=edge")
include ../components/favicon
include ../components/links
link(rel="stylesheet" href="css/style.css")
// Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-92981200-1")
script(src="js/script.js")
