block pages
  - var navLink = {'Home' : '/index.html', 'About' : '/about.html', 'Services' : '/services.html', 'Contact' : '/contact.html'};

.top-bar(role="decoration")
header
  .logo-container
    a(href="index.html")
      img.logo.animate(src="img/logo/sychael-logo.svg" alt="Sychael Web Design and Development Logo")
  nav
    img.hamburger-menu.animate(src="img/menu/menu-hamburger.svg" alt="Navigation Menu")
    include ../components/nav
