block title
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
block description
meta(http-equiv="X-UA-Compatible" content="IE=edge")
include ../components/favicon
include ../components/links
link(rel="stylesheet" href="css/style.css")
script(src="js/script.js")
