p.accordian {
  text-align: center;
  font-size: 5em;
  cursor: pointer;
  height: .5em;
  transition: transition-medium();
}

.panel {
  transition: transition-medium();
}

.display {
  display: none;
  transition: transition-medium();
}
