.box {
  display: block;
  background-color: $charcoal-lighter;
  border-radius: $amount-none $amount-none $amount-average $amount-average;
  vertical-align: top;
  margin: 2em auto;
  padding-bottom: $amount-medium;
  width: 100%;
  vertical-align: top;
  &.no-padding {
    padding: $amount-none;
  }
  &:focus {
    border: $amount-small $wine solid;
    outline: none;
    padding: 0;
    transform-origin: 50%;
  }
  @include breakpoint() {
    display: inline-block;
    min-width: 17em;
    width: 30%;
    margin: $amount-medium;
    transition: transition();
    &.hover {
      opacity: .9;
      &:hover {
        opacity: 1;
      }
  @include breakpoint($breakpoint-devices-desktop) {
    min-width: 22em;
      }
    }
  }
  img {
    padding: $amount-none;
    &.logo-client {
      padding: $amount-large $amount-none;
    }
  }
  h3 {
    text-transform: capitalize;
    color: $white;
    font-size: 1.4em;
    font-weight: 600;
  }

  li {
    color: $white;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    @include breakpoint($breakpoint-devices-large-cell) {
      font-size: 1.25em;
    }
    @include breakpoint() {
      font-size: 1.4em;
    }
  }
  p, a {
    margin: 0 13px 9px 19px;
    color: $white;
    text-align: left;
  }
  figcaption {
    font-size: 1.2em;
    transition: transition();
    @include breakpoint() {
      font-size: 1em;
    }
    @include breakpoint($breakpoint-devices-desktop) {
      font-size: 1.4em;
    }
  }
}

.redbox {
  background-color: $wine-trans;
  margin: $amount-small $amount-none;
  padding: $amount-medium $amount-medium;
  color: $white;
  border: 2px $wine-border solid;
  transition: transition-medium();
  &::selection, span::selection {
    background-color: $charcoal;
  }
  @include breakpoint() {
    padding: $amount-open $amount-medium;
  }
  @include breakpoint($breakpoint-devices-desktop) {
    padding: $amount-open $amount-large;
  }
}

.headerbox-red {
  padding: $amount-large;
  background-color: $wine-trans;
  margin: $amount-none $amount-none $amount-large $amount-none;
  color: $white;
  &::selection {
    background-color: $charcoal;
  }
}
