.contact-button {
  margin: $amount-median $amount-none;
}
.button-contact {
  display: inline-block;
  margin: $amount-narrow $amount-none;
  background-color: $charcoal;
  transition: transition();
  .contact-info {
    a {
      display: inline-block;
      padding: $amount-median $amount-superlarge;
      color: $white;
      font-weight: 500;
      span {
        font-weight: 500;
      }
      &:hover, &:focus {
        cursor: pointer;
        background-color: $wine-trans;
      }
    }
  }
}

a.add-button {
  &:hover, &:focus {
    background-color: $wine-darken;
    padding: $amount-medium 31.1%;
  }
}
