.button-contact {
  display: inline-block;
  margin: $amount-small;
  transition: transition();
  .icon-contact {
    display: inline-block;
    position: relative;
    right: -5px;
    background-color: $wine-trans;
    padding: $amount-small $amount-medium;
    width: 2.6954em;
    vertical-align: middle;
    bottom: 1px;
  }
  #email {
    height: 2.6em;
  }
  .contact-info {
    position: relative;
    display: inline-block;
    a {
      color: $white;
      font-weight: 500;
      background-color: $charcoal;
      padding: 16px $amount-large;
      &:hover, &:focus {
        background-color: $charcoal-lighter;
      }
    }
  }
}

.button-contact:hover, .icon-contact {
  right: -5;
}
