form {
  width: 90%;
  margin: $amount-none auto $amount-none $amount-open;
  @include breakpoint($breakpoint-devices-medium-cell) {
    margin: 0 auto;
    width: 80%;
  }
  @include breakpoint() {
    width: 70%;
  }
}

h4 {
  font-size: 1em;
  text-align: center;
  &> span {
    @include syrchael;
    font-weight: 600;
    color: $white;
  }
}

.form-field {
  margin: $amount-small $amount-none;
}

label {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 auto;
  span {
    font-weight: 300;
    font-size: 1rem;
  }
}

input,
textarea {
  background-color: $white;
  border: $transparent $amount-narrow solid;
  padding: $amount-average $amount-medium;
  margin: $amount-average auto;
  font-size: 1.05em;
  width: 85%;
  transition: transition();
  &:focus {
    border: $charcoal $amount-narrow solid;
    outline: none;
    padding: $amount-average $amount-medium;
    margin: 9px auto;
    opacity: 1;
    &::selection {
      background-color: $wine-light;
      color: $white;
    }
  }
}

input {
  display: inline-block;
  // &:invalid {
  //   border: solid $wine-light 3px;
  // }
  &[type="range"] {
    padding: 6px 9px 6px 13px;
  }
}

textarea {
  height: 2.5em;
  &:focus {
    height: 5em;
  }
}

select {
  background-color: $white;
  margin: 19px 0;
  @media(min-width: 768px) {
    display: block;
  }
}

button {
  @include button {
    display: block;
  }
}

a.button {
  @include button {
    margin: $amount-large $amount-none;
  }
}

// Hire Form
#select-date {
  label {
    display: inline-block;
    margin: 0 0 9px 20px;
    text-align: center;
  }
}


.scrollbar {
	overflow-y: scroll;
}

.style-3::-webkit-scrollbar {
	width: $amount-average;
}

.style-3::-webkit-scrollbar-thumb {
	background-color: $charcoal-opaq;
}
