form {
  width: 75%;
  margin: $amount-none auto;
  transition: transition();
  @include breakpoint() {
    width: 75%;
  }
  @include breakpoint($breakpoint-devices-desktop) {
    width: 70%;
  }
}

.form-field {
  margin: $amount-small $amount-none;
}

label {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 auto;
  span {
    font-weight: 200;
    font-size: $amount-median;
  }
}

input,
textarea {
  background-color: $white;
  border: 1.5px $white-polluted solid;
  padding: $amount-average $amount-medium;
  margin: 10px auto;
  font-size: 1.05em;
  width: 100%;
  transition: transition();
  &:focus {
    border: $charcoal 1.5px solid;
    outline: none;
    padding: $amount-average $amount-medium;
    margin: 9px auto;
    opacity: 1;
    &::selection {
      background-color: $wine-light;
      color: $white;
    }
  }
}

.hpot {
  display: none;
}

input {
  display: inline-block;
}

textarea {
  height: 2.5em;
  &:focus {
    height: 5em;
  }
}

select {
  background-color: $white;
  margin: 19px 0;
  @media(min-width: 768px) {
    display: block;
  }
}

button {
  @include button {
    display: block;
  }
}


a.button {
  @include button {
    margin: $amount-large $amount-none;
  }

}
