.loader-container {
  background-color: $white;
  position: absolute;
  height: calc(100% - 113px);
  width: 100%;
  z-index: -6;
}

.loader {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1;
  width: 125px;
  height: 125px;
  margin: -75px 0 0 -75px;
  border: 1em solid $charcoal;
  outline: 9px $wine-dark;
  border-radius: 100%;
  border-top: 1em solid $wine;
  animation: spin 2s linear infinite;
  @include breakpoint() {
    width: 125px;
    height: 125px;
    border: 1.5em solid $charcoal;
    border-top: 1.5em solid $wine;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
