.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: $charcoal;
    background-color: rgba(0,0,0,0.7);
    transition: transition();
}

.modal-content {
  background-color: #fefefe;
  margin: 125px auto;
  padding: $amount-superlarge;
  border: $amount-narrow solid $wine-dark;
  width: 70%;
  height: 70%;
  p {
    width: 100%;
    text-align: left;
  }
}

/* The Close Button */
.close {
  position: relative;
  top: -23px;
  right: -20px;
  float: right;
  color: $white;
  background-color: $charcoal-lightest;
  border-radius: 50%;
  padding: 0px 15px;
  font-size: 2.5em;
  font-weight: bold;
  transition: transition();
}

.close:hover,
.close:focus {
  color: $white;
  background-color: $charcoal;
    cursor: pointer;
}
