- var sychael = "Sychael | ";

doctype html
html(lang="en")
	head
		include sections/head
	body(id="page-top" role="document")
		include sections/header
		include sections/main
		include sections/footer
